<div class="backdrop" (click)="onHideDialog()"></div>
<dialog open>
  <h2>Update Formateur NAų {{ formateurInitial.id }} data</h2>
  <form (ngSubmit)="onSubmit()" class="mt-4" #f="ngForm">
    <div class="d-flex gap-4">
      <div>
        <label for="fName" class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          id="fName"
          name="fName"
          placeholder="Enter your first name"
          required
          minlength="3"
          [(ngModel)]="nom"
          #enteredFName="ngModel"
        />
        @if (enteredFName.invalid && (enteredFName.dirty || enteredFName.touched)) {
          @if (enteredFName.hasError('required')) {
            <div class="invalid-feedback">This field is required</div>
          }
          @if (enteredFName.hasError('minlength')) {
            <div class="invalid-feedback">First name must be at least 3 characters long.</div>
          }
        }
      </div>
      <div>
        <label for="lName" class="form-label">Prenom</label>
        <input
          type="text"
          class="form-control"
          id="lName"
          name="lName"
          placeholder="Enter your last name"
          required
          minlength="3"
          [(ngModel)]="prenom"
          #enteredLName="ngModel"
        />
        @if (enteredLName.invalid && (enteredLName.dirty || enteredLName.touched)) {
          @if (enteredLName.hasError('required')) {
            <div class="invalid-feedback">This field is required</div>
          }
          @if (enteredLName.hasError('minlength')) {
            <div class="invalid-feedback">Last name must be at least 3 characters long.</div>
          }
        }
      </div>
    </div>

    <div>
      <label for="skills" class="form-label mt-2">CompActences</label>
      <input
        type="text"
        class="form-control"
        id="skills"
        name="skills"
        required
        placeholder="Enter your skills"
        [(ngModel)]="specialite"
        #enteredSkills="ngModel"
      />
      @if (enteredSkills.invalid && (enteredSkills.dirty || enteredSkills.touched)) {
        @if (enteredSkills.hasError('required')) {
          <div class="invalid-feedback">This field is required</div>
        }
      }
    </div>
    <div>
      <label for="cv" class="form-label mt-2">CV</label>
      <input
        type="text"
        class="form-control"
        id="cv"
        name="cv"
        required
        placeholder="Enter your cv file"
        [(ngModel)]="cv"
        #enteredCv="ngModel"
      />
      @if (enteredCv.invalid && (enteredCv.dirty || enteredCv.touched)) {
        @if (enteredCv.hasError('required')) {
          <div class="invalid-feedback">This field is required</div>
        }
      }
    </div>

    <div class="actions mt-3 d-flex justify-content-end gap-3">
      <button type="button" (click)="onHideDialog()" class="btn btn-outline-secondary">
        Cancel
      </button>
      <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
  </form>
</dialog>
