<h2>Ajouter un formateur</h2>

<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div>
    <label for="nom" class="form-label">Nom</label>
    <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez le nom du formateur" required
      minlength="3" [(ngModel)]="nom" #nomModel="ngModel" />

    @if (nomModel.invalid && (nomModel.dirty || nomModel.touched)) {
    @if (nomModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    @if (nomModel.hasError('minlength')) {
    <div class="invalid-feedback">Le nom doit contenir au moins 3 caract&egrave;res.</div>
    }
    }
  </div>

  <div>
    <label for="prenom" class="form-label">Prénom</label>
    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez le prénom du formateur"
      required minlength="3" [(ngModel)]="prenom" #prenomModel="ngModel" />

    @if (prenomModel.invalid && (prenomModel.dirty || prenomModel.touched)) {
    @if (prenomModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    @if (prenomModel.hasError('minlength')) {
    <div class="invalid-feedback">Le prénom doit contenir au moins 3 caractères.</div>
    }
    }
  </div>

  <div>
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Entrez l'email du formateur" required
      email [(ngModel)]="email" #emailModel="ngModel" />

    @if (emailModel.invalid && (emailModel.dirty || emailModel.touched)) {
    @if (emailModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    @if (emailModel.hasError('email')) {
    <div class="invalid-feedback">Veuillez entrer une adresse email valide.</div>
    }
    }
  </div>

  <div>
    <label for="phone" class="form-label">Numéro de téléphone</label>
    <input type="number" class="form-control" id="phone" name="phone"
      placeholder="Entrez le numéro de téléphone du formateur" required [(ngModel)]="phone"
      #phoneModel="ngModel" />

    @if (phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)) {
    @if (phoneModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    }
  </div>

  <div>
    <label for="cin" class="form-label">CIN</label>
    <input type="text" class="form-control" id="cin" name="cin" pattern="[0-9]{8}"
      placeholder="Entrez le CIN du formateur" required [(ngModel)]="cin" #cinModel="ngModel" />

    @if (cinModel.invalid && (cinModel.dirty || cinModel.touched)) {
    @if (cinModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    @if (cinModel.hasError('pattern')) {
    <div class="invalid-feedback">Le CIN doit contenir exactement 8 chiffres.</div>
    }
    }
  </div>

  <div>
    <label for="specialite" class="form-label">Spécialités</label>
    <input type="text" class="form-control" id="specialite" name="specialite"
      placeholder="Entrez les spécialités du formateur (séparées par des virgules)" required
      [(ngModel)]="specialite" #specialiteModel="ngModel" />

    @if (specialiteModel.invalid && (specialiteModel.dirty || specialiteModel.touched)) {
    @if (specialiteModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    }
  </div>

  <div>
    <label for="cv" class="form-label">CV</label>
    <input type="text" class="form-control" id="cv" name="cv" placeholder="Entrez le CV du formateur" required
      [(ngModel)]="cv" #cvModel="ngModel" />

    @if (cvModel.invalid && (cvModel.dirty || cvModel.touched)) {
    @if (cvModel.hasError('required')) {
    <div class="invalid-feedback">Ce champ est requis.</div>
    }
    }
  </div>

  <div>
    <button type="button" (click)="onHideDialog()" class="btn btn-primary">
      Annuler
    </button>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">
      Ajouter
    </button>
  </div>
</form>