<h2>Ajouter un Formateur</h2>

<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div>
    <label for="nom" class="form-label">Nom</label>
    <input
      type="text"
      class="form-control"
      id="nom"
      name="nom"
      placeholder="Entrez le nom de formateur"
      required
      minlength="3"
      [(ngModel)]="nom"
      #nomModel="ngModel"
    />

    <div *ngIf="nomModel.invalid && (nomModel.dirty || nomModel.touched)">
      <div *ngIf="nomModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
      <div *ngIf="nomModel.hasError('minlength')">
        <div class="invalid-feedback">Le nom doit contenir au moins 3 caractères.</div>
      </div>
    </div>
  </div>

  <div>
    <label for="prenom" class="form-label">Prénom</label>
    <input
      type="text"
      class="form-control"
      id="prenom"
      name="prenom"
      placeholder="Entrez le prénom de formateur"
      required
      minlength="3"
      [(ngModel)]="prenom"
      #prenomModel="ngModel"
    />

    <div *ngIf="prenomModel.invalid && (prenomModel.dirty || prenomModel.touched)">
      <div *ngIf="prenomModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
      <div *ngIf="prenomModel.hasError('minlength')">
        <div class="invalid-feedback">Le prénom doit contenir au moins 3 caractères.</div>
      </div>
    </div>
  </div>

  <div>
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Entrez l'email de formateur"
      required
      email
      [(ngModel)]="email"
      #emailModel="ngModel"
    />

    <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
      <div *ngIf="emailModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
      <div *ngIf="emailModel.hasError('email')">
        <div class="invalid-feedback">Veuillez entrer une adresse email valide.</div>
      </div>
    </div>
  </div>

  <div>
    <label for="phone">Numéro de téléphone</label>
    <input
      type="number"
      class="form-control"
      id="phone"
      name="phone"
      placeholder="Entrez le numéro de téléphone de formateur"
      required
      [(ngModel)]="phone"
      #phoneModel="ngModel"
    />

    <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)">
      <div *ngIf="phoneModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
    </div>
  </div>

  <div>
    <label for="cin">CIN</label>
    <input
      type="text"
      class="form-control"
      id="cin"
      name="cin"
      pattern="[0-9]{8}"
      placeholder="Entrez le CIN de formateur"
      required
      [(ngModel)]="cin"
      #cinModel="ngModel"
    />

    <div *ngIf="cinModel.invalid && (cinModel.dirty || cinModel.touched)">
      <div *ngIf="cinModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
      <div *ngIf="cinModel.hasError('pattern')">
        <div class="invalid-feedback">Le CIN doit contenir exactement 8 chiffres.</div>
      </div>
    </div>
  </div>

  <div>
    <label for="specialite">Spécialités</label>
    <input
      type="text"
      class="form-control"
      id="specialite"
      name="specialite"
      placeholder="Entrez les spécialités de formateur (séparées par des virgules)"
      required
      [(ngModel)]="specialite"
      #specialiteModel="ngModel"
    />

    <div *ngIf="specialiteModel.invalid && (specialiteModel.dirty || specialiteModel.touched)">
      <div *ngIf="specialiteModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
    </div>
  </div>

  <div>
    <label for="cv">CV</label>
    <input
      type="text"
      class="form-control"
      id="cv"
      name="cv"
      placeholder="Entrez le CV de formateur"
      required
      [(ngModel)]="cv"
      #cvModel="ngModel"
    />

    <div *ngIf="cvModel.invalid && (cvModel.dirty || cvModel.touched)">
      <div *ngIf="cvModel.hasError('required')">
        <div class="invalid-feedback">Ce champ est requis</div>
      </div>
    </div>
  </div>

  <div>
    <button type="button" (click)="onHideDialog()" class="btn btn-primary">
      Cancel
    </button>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">
      Ajouter
    </button>
  </div>
</form>
