<ng-container *ngIf="showUpdateDialog() && formateurSelected()">
  <app-update-formateur (hideDialogEvent)="onHideUpdateDialog($event)" [formateurInitial]="formateurSelected()!"></app-update-formateur>
</ng-container>
<ng-container *ngIf="showAddDialog()">
  <app-add-formateur (hideDialogEvent)="onHideAddDialog($event)"></app-add-formateur>
</ng-container>
<div class="container mt-5 mb-5">
  <div class="card admin-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h1 class="mb-0">Gestion des formateurs</h1>
      <div class="toolbar d-flex align-items-center">
        <input type="search" class="form-control search-input" placeholder="Rechercher un formateur..." (input)="onSearch($event.target.value)" />
        <button type="button" (click)="onShowAddDialog()" class="btn btn-primary ms-3">
          <i class="bi bi-plus"></i> Ajouter
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" id="example">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col">CIN</th>
        <th scope="col">Compétences</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let formateur of filteredFormateurs()">
        <tr>
           <th scope="row">{{ formateur.id }}</th>
        <td>{{ formateur.nom }}</td>
        <td>{{ formateur.prenom }}</td>
        <td>{{ formateur.email }}</td>
        <td>{{ formateur.phone }}</td>
        <td>{{ formateur.cin }}</td>
        <td>
          <ng-container *ngFor="let skill of formateur.specialite || []">
            <span class="badge rounded-pill bg-info"> {{ skill }} </span>
</ng-container>
        </td>
        <td>
                    <button (click)="onShowUpdateDialog(formateur)" class="btn btn-outline-primary">
            Update
          </button>

          <button (click)="removeInstructor(formateur.id)" class="btn btn-outline-danger">
            Delete
          </button>
        </td>
      </tr>
</ng-container>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>
